/* CSS Document */
body {background: #3F3D42; background-image: url(img/skrynsot_alfa.png), url(img/default_stone.png); background-repeat: no-repeat, repeat; background-size: 100%, 160px; color: #002020;font-family: Courier New;};
span.uvozovky{color: #80FF00;};

td.hlavni {
	padding: 12px;
}

table.trotl {
	float: right;
	clear: right;
}
